body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', serif;
    margin-left: 40px;
}


header {
    background-image: url('images/burger.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 167px;
    width: 600px;
    color: white;
    margin-bottom: 67px;

}

.header-info{
    padding-left: 46px;
    padding-top: 25px;
}

h1, p {
    margin: 10px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 22px;
}

.food-card {
    display: flex;
    justify-content: space-between;
    height: 140px;
    width: 508px;
    border-bottom: solid 1px #D2D2D2;
    margin-bottom: 45px;
}

.card-left{
    display: flex;
}

.food-title {
    font-size: 28px;
}

.food-emoji {
    font-size: 80px;
    margin-left: 46px;
}

.food-info {
    margin-left: 30px;
}

.ingredients {
    color: #8B8B8B;
    font-size: 16px;
}

.food-price {
    font-size: 20px;
}

.atc-btn {
    

    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 200;
    font-size: 32px;
  
    background-color: white;
    height: 50px;
    width: 50px;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    color: #3C3C3C;
   

  }

  .atc-btn:hover {
    cursor: pointer;

  }
  
  
  /* Your Order Section */

  .checkout {
    display: block;
  }

  .food-checkout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

  }

  .left-order{
    display: flex;
  }
 
 
  .remove {
    background-color: white;
    border: none;
    color: #BBBBBB;

  }
  
  .remove:hover{
    cursor: pointer;
  }

  .total-price {
    display: flex;
    justify-content: space-between;
    border-top: solid black 2px;
    padding-top: 12px;
  }



.complete-order{
    display: block;
    text-align: center;
    color: white;
    background-color: #16DB99;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    width: 400px;
    
    margin-bottom:50px;
    margin-top: 50px;
   

}

.complete-order:hover{
    cursor: pointer;
}

/* Overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;

    
}

.hidden {
    display: none;
}


/* Payment */

.payment-card{
    height: 450;
    width: 524px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}



.payment-card input{
    height: 50px;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 23px;
    border: solid 1px #757575;
    size: 24px;
    border-radius: 5px;
    padding-left: 25px;
}

.payment-card p {
    margin-bottom: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.payment-card button{
    display: block;
    text-align: center;
    color: white;
    background-color: #16DB99;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    width: 400px;
    
    margin-bottom:50px;
}

.payment-card button:hover{
    cursor: pointer;
}

.payment-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background-color: white;

}



/* Thank you section */

#order-confirmation {
    height: 50px;
    font-size: 32px;
    margin: 0 auto;
    width: 400px;
    background-color: #ECFDF5;
    color: #065F46;
    text-align: center;
    padding: 30px 50px;
    margin-bottom: 40px;

}
