* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
}

header {
    height: 6em;
    width: 34em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

select {
    height: 2.625em;
    width: 19.5em;
    border: solid 1px #D1D5DB;
    border-radius: 3px;
}



input {
    height: 2.625em;
    width: 4em;
    border: none;
}

button {
    height: 2.625em;
    width: 10em;
    border: solid 1px #D1D5DB;
    border-radius: 3px;
    background-color: white;
    color: #374151;
}

button:hover{
    background-color: orange;
    color: white;
}

.colors {
    height: 28.75em;
    width: 6.875em;
    /* background-color: #F55A5A; */
    position: relative;
    
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 34em;
    /* remove this gap later */
    gap: 1px; 
    text-align: center;
}



#color-one, #color-two, #color-three, #color-four, #color-five {
    height: 85%;
    width: 100%;
}

#color-one {
    background-color: #F55A5A;
}

#color-two {
    background-color: #2B283A;
}

#color-three {
    background-color: #FBF3AB;
}

#color-four {
    background-color: #AAD1B6;
}

#color-five {
    background-color: #A626D3;
}